body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

p {
    margin: 8px 0 8px 0;
}

.bold-status-text {
    font-weight: bold;
}

@keyframes game-card-hover {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.03);
    }
}

@keyframes game-buttons-hover {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.10);
    }
}

.add {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.4rem;
}

.add:hover {
    background-color: rgb(201, 201, 201);
    transition-duration: 0.2s;
}

.input-container {
    position: fixed;
    background-color: aqua;
    border-radius: 10px;
    border: 1px solid black;
    margin: 5% auto;
    height: 45%;
    width: 35%;
    left: 0;
    right: 0;
    visibility: hidden;
}

.opened {
    visibility: visible;
    opacity: 1;
    z-index: 100;
}

.close {
    margin: 10px 0 0 10px;
}

.input-field {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.text-input {
    height: 30px;
    width: 250px;
    border-radius: 5px;
}

.text-input::placeholder {
    text-align: center;
}

.dropdown {
    height: 30px;
    width: 250px;
    border-radius: 5px;
}

.add-button {
    height: 50px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    font-size: 1.3rem;
    border-radius: 10px;
}

.add-button:hover {
    background-color: rgb(241, 241, 241);
}

.content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-auto-rows: 500px;
    padding: 20px;
}

.card-text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.card-cover {
    border-radius: 8px;
    height: 220px;
    width: 200px;
    margin-top: 10px;
}

.game-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    padding: 15px;
    border-radius: 15px;
    transform: scale(1);
    transition-duration: 0.2s;
    
}

.game-card:hover {
    animation-name: game-card-hover;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    transform: scale(1.03);
}

.card-svg {
    height: 25px;
    width: 25px;
    transform: scale(1);
    transition-duration: 0.2s;
}

.card-svg:hover {
    animation: game-buttons-hover 0.3s linear 0s 1;
    transform: scale(1.10);
}

.card-icons {
    height: 20px;
    width: 20px;
}

.buttons-container {
    margin-top: 15px;
    align-self: flex-end;
    display: flex;
    gap: 8px;
}