body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

p {
    margin: 8px 0 8px 0;
}

.no-visibility {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    opacity: 1;
}

.blur-effect {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    transition: 0.1s;
}

@keyframes game-card-hover {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.03);
    }
}

@keyframes game-buttons-hover {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.10);
    }
}

@keyframes menu-opening {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

.placeholder {
    text-align: center;
    color: rgb(145, 145, 145);
}

.header {
    padding: 25px 35px 25px 35px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.header-buttons {
    height: 40px;
    width: 40px;
    border: 1px solid rgb(202, 202, 202);
    background-color: white;
}

.left-side-elements {
    display: flex;
    gap: 15px;
}

.image-container {
    height: 120px;
    width: 120px;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    height: 110px;
    width: 110px;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.username {
    margin: 0;
}

.center-side-elements {
    grid-column: 2 / span 1;
    display: flex;
    flex-direction: row;
    padding: 0 100px 0 50px;
    justify-content: center;
    align-items: center;
}

.searchbar {
    flex: 1 0 auto;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(202, 202, 202);
    padding-left: 10px;
}

.searchbar::placeholder {
    color: rgb(190, 190, 190);
    padding-left: 2px;
}

.search-button {
    margin-left: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
}

.right-side-elements {
    grid-column: 3 / span 1;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
}

.header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    padding: 0;
    background-color: white;
    transition-duration: 0.2s;
}

.header-buttons:hover {
    background-color: rgb(238, 238, 238);
    transition-duration: 0.2s;
}

.header-buttons:active {
    background-color: rgb(226, 226, 226);
    transition-duration: 0.2s;
}

.header-icons {
    height: 30px;
    width: 30px;
}

.hidden-list {
    position: fixed;
    visibility: hidden;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin: 5% auto;
    background-color: rgb(255, 255, 255);
    height: 60%;
    width: 60%;
    border: 2px solid rgb(185, 185, 185);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.hidden-game-card > p {
    font-weight: 700;
    text-align: center;
}

.close-hidden {
    margin: 10px 0 0 10px;
    min-height: 40px;
    min-width: 40px;
    height: 40px; 
    width: 40px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    background-color: white;
}

.hidden-name {
    justify-self: flex-start;
    margin-left: 5px;
}

.restore {
    height: 50px;
    margin: 0 5px 0 5px;
    border-radius: 5px;
    background-color: white;
}

.hidden-game-card {
    padding: 10px 10px 10px 10px;
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.settings {
    background-color: rgb(255, 255, 255);
    position: fixed;
    visibility: hidden;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin: 5% auto;
    height: fit-content;
    width: 45%;
    border: 2px solid rgb(185, 185, 185);
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.close-settings {
    margin: 10px 0 0 10px;
    min-height: 30px;
    min-width: 30px;
    height: 30px; 
    width: 30px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    background-color: white;
}

.settings-wrapper {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-image-wrapper {
    height: 100px;
    width: 100px;
    background-color: rgb(228, 228, 228);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image-preview {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.profile-settings-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.profile-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.profile-input > input {
    height: 25px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
}

.profile-input > input::placeholder {
    text-align: center;
}

.grid-setting {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
}

.grid-size {
    width: 200px;
    accent-color: lightgrey;
}

.save-settings {
    height: 50px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    font-size: 1.3rem;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid rgb(185, 185, 185);
    font-weight: 500;
    margin-top: 30px;
}

.save-settings:hover {
    background-color: rgb(238, 238, 238);
    transition-duration: 0.2s;
}

.save-settings:active {
    background-color: rgb(226, 226, 226);
    transition-duration: 0.2s;
}

.input-container {
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgb(185, 185, 185);
    margin: 5% auto;
    height: fit-content;
    width: 35%;
    left: 0;
    right: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    opacity: 0;
}

.opened {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    animation: menu-opening 0.1s linear 0s 1;
}

.close {
    margin: 10px 0 0 10px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    background-color: white;
    min-height: 30px;
    min-width: 30px;
    height: 30px; 
    width: 30px;
}

.close:hover {
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(207, 206, 206);
    transition-duration: 0.2s;
}

.input-field {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.text-input {
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
}

.text-input::placeholder {
    text-align: center;
}

.dropdown {
    height: 30px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    text-align: center;
    font-weight: 300;
}

.add-button {
    height: 50px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    font-size: 1.3rem;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid rgb(185, 185, 185);
    font-weight: 500;
}

.add-button:hover {
    background-color: rgb(238, 238, 238);
    transition-duration: 0.2s;
}

.add-button:active {
    background-color: rgb(226, 226, 226);
    transition-duration: 0.2s;
}

.content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    grid-auto-rows: 500px;
    padding: 20px;
    margin-top: 10px;
}

.card-text-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.card-cover {
    border-radius: 8px;
    height: 220px;
    width: 200px;
    margin-top: 10px;
}

.game-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
    padding: 15px;
    border-radius: 15px;
    transform: scale(1);
    transition-duration: 0.2s;
    
}

.game-card:hover {
    animation-name: game-card-hover;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    transform: scale(1.03);
}

.card-svg {
    height: 25px;
    width: 25px;
    transform: scale(1);
    transition-duration: 0.2s;
}

.card-svg:hover {
    animation: game-buttons-hover 0.3s linear 0s 1;
    transform: scale(1.10);
}

.card-svg:active {
    transform: scale(0.90);
    transition-duration: 0.3s;
}

.card-icons {
    height: 20px;
    width: 20px;
}

.buttons-container {
    margin-top: 15px;
    align-self: flex-end;
    display: flex;
    gap: 8px;
}